<div class="content-page d-flex justify-content-center align-items-center" style="height: calc(100vh - 165px)">
  <div class="content">
    <div class="container-fluid">
      <div class="row d-flex align-items-stretch">
        <div class="col-xl-4 col-lg-5">
          <div class="card text-center h-100">
            <div class="card-body d-flex flex-column justify-content-center">
              <%= image_tag user.avatar.presence || 'default-avatar.png', alt: 'user-img', class: 'img-fluid rounded-circle me-1', size: "750x750" %>
              <h4 class="mb-0 mt-2"><%= user.name %></h4>
              <p class="text-muted font-14"><%= user.email %></p>
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-7">
          <div class="card h-100">
            <div class="card-body">
              <%= form_with(model: user, class: 'form-horizontal') do |f| %>
                <h5 class="mb-4 text-uppercase">
                  <i class="mdi mdi-account-circle me-1"></i> <%= t("form.profile") %>
                </h5>
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <%= f.label :name, t("form.name"), class: "form-label" %>
                      <%= f.text_field :name, class: "form-control form-control-light", required: true %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <%= f.label :email, t("form.email"), class: "form-label" %>
                      <%= f.text_field :email, class: "form-control form-control-light", required: true %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <%= f.label :password, t("form.password"), class: "form-label" %>
                      <%= f.password_field :password, class: "form-control form-control-light" %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <%= f.label :password_confirmation, t("form.password_confirmation"), class: "form-label" %>
                      <%= f.password_field :password_confirmation, class: "form-control form-control-light" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="mb-3">
                      <%= f.label :avatar, t("form.avatar"), class: "form-label" %>
                      <%= f.file_field :avatar, class: "form-control form-control-light" %>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary d-flex align-items-center justify-content-center">
                    <i class="ri-save-3-fill"></i>
                    <span class="ms-1"><%= t("form.save") %></span>
                  </button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
