<%= form_with(model: user, class: 'form-horizontal') do |f| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(user.errors.count, "erro") %> impediram o usuário de ser salvo:</h4>
      <ul class="mb-0">
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6 mb-3">
      <%= f.label :name, t("form.name"), class: "form-label" %>
      <%= f.text_field :name, class: "form-control form-control-light", required: true %>
    </div>
    <div class="col-md-6 mb-3">
      <%= f.label :email, t("form.email"), class: "form-label" %>
      <%= f.email_field :email, class: "form-control form-control-light", required: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <%= f.label :password, t("form.password"), class: "form-label" %>
      <%= f.password_field :password, class: "form-control form-control-light" %>
    </div>
    <div class="col-md-6 mb-3">
      <%= f.label :password_confirmation, t("form.password_confirmation"), class: "form-label" %>
      <%= f.password_field :password_confirmation, class: "form-control form-control-light" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <%= f.label :avatar, t("form.avatar"), class: "form-label" %>
      <%= f.file_field :avatar, class: "form-control form-control-light" %>
    </div>
    <div class="col-md-6 mb-3">
      <%= f.label :departaments, t("form.departaments"), class: "form-label" %>
      <%= f.select :departament_ids, options_for_select(@departaments.map { |departament| [departament.name, departament.id] }, @user.departament_ids), {}, { multiple: true, class: "ts-custom", id: "select-more-options" } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <%= f.label :role, t("form.role"), class: "form-label" %>
      <%= f.select :role, options_for_select(User.roles.keys.map { |k| [k.titleize, k] }, f.object.role), { prompt: t("select") }, class: "ts-custom", id: "select-one-option", required: true %>
    </div>
    <div class="col-md-6 mb-3">
      <%= f.label :status, class: "form-label" %>
      <%= f.select :status, [[t("status.active"), true], [t("status.inactive"), false]], {}, class: "ts-custom", id: "select-one-option" %>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary d-flex align-items-center justify-content-center">
      <i class="ri-save-3-fill"></i>
      <span class="ms-1"><%= t("form.save") %></span>
    </button>
  </div>
<% end %>
