<%= form_with(model: email, class: 'form-horizontal') do |f| %>
  <% if email.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(email.errors.count, "erro") %> impediram esta email de ser salva:</h4>
      <ul class="mb-0">
        <% email.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= f.label :to, t("form.to"), class: "form-label" %>
    <%= f.email_field :to, class: "form-control form-control-light", required: true %>
  </div>
  <div class="mb-3">
    <%= f.label :subject, t("form.subject"), class: "form-label" %>
    <%= f.text_field :subject, class: "form-control form-control-light", maxlength: 15, required: true %>
  </div>
  <div class="mb-3">
    <%= f.label :body, t("form.body"), class: "form-label" %>
    <%= f.text_area :body, class: "form-control form-control-light", required: true %>
  </div>
  <div class="mb-3">
    <%= f.label :scheduled_at, t("form.scheduled_at"), class: "form-label" %>
    <%= f.datetime_field :scheduled_at, class: "form-control form-control-light", required: true %>
  </div>
  <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary d-flex align-items-center justify-content-center">
      <i class="ri-save-3-fill"></i>
      <span class="ms-1"><%= t("form.save") %></span>
    </button>
  </div>
<% end %>