<%= form_with(model: email, class: 'form-horizontal') do |f| %>
  <% if email.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(email.errors.count, "erro") %> impediram esta email de ser salva:</h4>
      <ul class="mb-0">
        <% email.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= f.label :to, t("email.to"), class: "form-label" %>
    <%= f.email_field :to, class: "form-control form-control-light", required: true %>
  </div>
  <div class="mb-3">
    <%= f.label :subject, t("email.subject"), class: "form-label" %>
    <%= f.text_field :subject, class: "form-control form-control-light", maxlength: 15, required: true %>
  </div>
  <div class="mb-3">
    <%= f.label :body, class: "form-label d-flex align-items-center gap-2" do %>
      <%= t("email.body") %>
      <i id="boost_email_body" class="ri-rocket-fill" style="cursor: pointer;" title="Turbinar o corpo do email"></i>
      <i id="fix_errors_body" class="ri-tools-line" style="cursor: pointer;" title="Corrigir erros de português do corpo do email"></i>
      <div id="loading-spinner"></div>
    <% end %>
    <%= f.text_area :body, class: "form-control form-control-light", required: true %>
  </div>
  <div class="mb-3">
    <%= f.label :scheduled_at, t("email.scheduled_at"), class: "form-label" %>
    <%= f.datetime_field :scheduled_at, value: Time.current.strftime("%Y-%m-%dT%H:%M"), class: "form-control form-control-light", required: true %>
  </div>
  <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary d-flex align-items-center justify-content-center">
      <i class="ri-save-3-fill"></i>
      <span class="ms-1"><%= t("email.save") %></span>
    </button>
  </div>
<% end %>

<script>
    document.querySelectorAll("#boost_email_body, #fix_errors_body").forEach(btn => {
      btn.addEventListener("click", (e) => {
        e.preventDefault();

        const spinnerContainer = document.getElementById("loading-spinner");
        const textarea = document.querySelector("#email_body");
        const text = textarea.value;

        if (!text.trim()) {
          alert("Corpo do e-mail está vazio!");
          return;
        }

        if(!confirm('Deseja enviar seu texto para o Gemini?')) {
          return;
        }

        spinnerContainer.innerHTML = `
          <div class="d-flex align-items-center gap-2 text-primary">
            <div class="spinner-border spinner-border-sm" role="status"></div>
            <strong id="spinner-text">Carregando</strong>
          </div>
        `;

        let dotCount = 0;
        const intervalId = setInterval(() => {
          const spinnerText = document.getElementById("spinner-text");
          if (!spinnerText) return clearInterval(intervalId);
          dotCount = (dotCount + 1) % 4;
          spinnerText.textContent = "Carregando" + ".".repeat(dotCount);
        }, 400);

        const url = `/emails/${btn.id}`;

        fetch(`${url}?body=${encodeURIComponent(text)}`)
          .then(res => res.json())
          .then(data => {
            textarea.value = data.result;
          })
          .catch(err => {
            console.error(err);
            alert("Erro ao processar o texto.");
          })
          .finally(() => {
            clearInterval(intervalId);
            spinnerContainer.innerHTML = '';
        });
      });
    });
</script>
