<!DOCTYPE html>
<html lang="en" data-layout="topnav" data-bs-theme="light" data-layout-mode="fluid" data-menu-color="light" data-topbar-color="light" data-layout-position="fixed" data-sidenav-size="default" class="menuitem-active" data-lt-installed="true">
  <head>
    <meta charset="utf-8" />
    <title>ScheduleMailer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="<%= asset_path('favicon.png') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
  </head>
  <body>
    <div class="wrapper">
      <div class="content main">
        <%= yield %>
      </div>
    </div>
    <%= turbo_frame_tag "bootstrap_modal" %>
  </body>
</html>
